/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  #intro-box {
    height: 50%;
    width: 77%;
    color: white;
    text-align: center;
    padding: 8px;
    margin-left: 11%;
    margin-top: 10%;
    background: inherit;
    background-image: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(white, white), linear-gradient(white, white);
    background-repeat: no-repeat;
    background-size: 8px 3px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid white;
    border-width: 0 3px;
  }
  #name {
    /* margin-top: -75px; */
    margin-right: 5px;
    margin-left: 5px;
    font-size: 277%;
    background-clip: border-box;
    font-family: 'Amatic SC';
  }
  .tab-title {
    font-size: 53%;
  }
  .first-tab {
    background: white;
    height: auto;
    width: auto;
    font-size: 50px;
    color: black;
    overflow: hidden;
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .experiences-title {
    font-size: 50px;
    color: black;
    overflow: hidden;
    margin-top: 25px;
    text-align: center;
    position: relative;
    background: inherit;
  }
  .experiences-info {
    color: black;
    position: relative;
    background: inherit;
    font-size: 50px;
  }
  .box {
    background: inherit;
    position: relative;
    margin-top: 50px;
    width: 500px;
    margin-left: 32%;
    height: 150px;
    padding: 10px;
    background-image: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(black, black), linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 8px 3px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid black;
    border-width: 0 3px;
  }
  .box.white {
    background: inherit;
    position: relative;
    margin-top: 50px;
    width: auto;
    /* margin-left: 36.5%; */
    height: 150px;
    padding: 10px;
    background-image: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(white, white), linear-gradient(white, white);
    background-repeat: no-repeat;
    background-size: 8px 3px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid white;
    border-width: 0 3px;
  }
  p.about-me-text {
    margin-top: -11%;
    font-size: 30%;
    margin-bottom: 30px;
    margin-left: 15%;
    text-align: center;
    margin-right: 15%;
  }
  h2 {
    font-size: 86%;
  }
  #emphasis {
    text-emphasis: dot;
    text-emphasis-position: under right;
  }
  .second-tab {
    height: auto;
    color: white;
    text-align: center;
    position: relative;
    font-size: 50px;
  }
  ul.portfolio {
    list-style-type: none;
  }
  ul.portfolio li {
    padding: 5%;
  }
  div#website-card {
    width: 88%;
    height: 362px;
    font-size: 20%;
    color: black;
  }
  iframe.portfolio-frame {
    width: 88%;
    height: 250px;
    margin-top: 33%;
  }
  div.card-button {
    border: 3px solid black;
    background-color: transparent;
    color: black;
    width: 24%;
    padding: 2%;
    margin-left: 36%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  div.card-button:hover {
    background-color: black;
    color: white;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  #intro-box {
    height: 50%;
    width: 41%;
    color: white;
    text-align: center;
    padding: 8px;
    margin-left: 31%;
    margin-top: 10%;
    background: inherit;
    background-image: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(white, white), linear-gradient(white, white);
    background-repeat: no-repeat;
    background-size: 8px 3px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid white;
    border-width: 0 3px;
  }
  #name {
    /* margin-top: -75px; */
    margin-right: 5px;
    margin-left: 5px;
    font-size: 490%;
    background-clip: border-box;
    font-family: 'Amatic SC';
  }
  .tab-title {
    font-size: 75%;
  }
  .first-tab {
    background: white;
    height: auto;
    width: auto;
    font-size: 50px;
    color: black;
    overflow: hidden;
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .experiences-title {
    font-size: 50px;
    color: black;
    overflow: hidden;
    margin-top: 25px;
    text-align: center;
    position: relative;
    background: inherit;
  }
  .experiences-info {
    color: black;
    position: relative;
    background: inherit;
    font-size: 50px;
  }
  .box {
    background: inherit;
    position: relative;
    margin-top: 50px;
    width: 500px;
    margin-left: 32%;
    height: 150px;
    padding: 10px;
    background-image: linear-gradient(black, black), linear-gradient(black, black), linear-gradient(black, black), linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 8px 3px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid black;
    border-width: 0 3px;
  }
  .box.white {
    background: inherit;
    position: relative;
    margin-top: 50px;
    width: auto;
    /* margin-left: 36.5%; */
    height: 150px;
    padding: 10px;
    background-image: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(white, white), linear-gradient(white, white);
    background-repeat: no-repeat;
    background-size: 8px 3px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid white;
    border-width: 0 3px;
  }
  p.about-me-text {
    margin-top: -4%;
    font-size: 47%;
    margin-bottom: 30px;
    margin-left: 15%;
    text-align: center;
    margin-right: 15%;
  }
  h2 {
    font-size: 164%;
  }
  #emphasis {
    text-emphasis: dot;
    text-emphasis-position: under right;
  }
  .second-tab {
    height: auto;
    color: white;
    text-align: center;
    position: relative;
    font-size: 50px;
  }
  table.portfolio tr td {
    width: auto;
  }
  div#website-card {
    width: 69%;
    height: auto;
    margin-left: 63%;
  }
  div#flamboyan-card {
    width: 37%;
    height: auto;
    margin-left: 28%;
  }
  p.card-text {
    font-size: 28%;
    color: black;
  }
  div.card-button {
    border: 3px solid lightslategray;
    background-color: transparent;
    color: black;
    font-size: 28%;
    width: 24%;
    padding: 2%;
    margin-left: 36%;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  div.card-button:hover {
    background-color: lightslategray;
    color: white;
  }
  iframe.portfolio-frame {
    width: 88%;
    height: 250px;
    margin-top: 33%;
  }
}
