<div>
  <div id="intro-box" class="brackets">
    <h1 id="name">
      Christian Santiago
    </h1>
    <h2>
      Aspiring Web Developer and Former Baby
    </h2>
    <p>
      I'm a computer engineering student currently looking for opportunities to expand my knowledge in
      <span id="emphasis"> Web Development and Design</span> and develop it in
      <span id="emphasis">Database Management</span> and
      <span id="emphasis">Data Analytics</span>.
    </p>
  </div>


  <div class="first-tab">
    <div class="experiences-title">
      Experience
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- <div class="box"> -->
                <div class="experiences-info box">
                  JEChat – Databases Class Project
                  <br> Feb 2018 – April 2018
                </div>
              <!-- </div> -->
          
              <!-- <div class="table"> -->
              <table>
                <tr>
                  <td>
                    • Developed a user-friendly web-app mimicking Whatsapp with a functioning Database using SQL in PostgresSQL
                  </td>
                  <td>
                    • Integrated RestApi using Python Flask for the communication of the WebApp and the database of the project.
                  </td>
                  <td>
                    • Accomplished completion of a full-stack web-app project within a timeline of 2 months with excellent results.
                  </td>
                </tr>
              </table>
        </div>
        <div class="carousel-item">
            <!-- <div class="box"> -->
                <div class="box experiences-info">
                  JEChat – Databases Class Project
                  <br> Feb 2018 – April 2018
                </div>
              <!-- </div> -->
          
              <!-- <div class="table"> -->
              <table>
                <tr>
                  <td>
                    • Developed a user-friendly web-app mimicking Whatsapp with a functioning Database using SQL in PostgresSQL
                  </td>
                  <td>
                    • Integrated RestApi using Python Flask for the communication of the WebApp and the database of the project.
                  </td>
                  <td>
                    • Accomplished completion of a full-stack web-app project within a timeline of 2 months with excellent results.
                  </td>
                </tr>
              </table>
        </div>
        <div class="carousel-item">
            <!-- <div class="box"> -->
                <div class="box experiences-info">
                  JEChat – Databases Class Project
                  <br> Feb 2018 – April 2018
                </div>
              <!-- </div> -->
          
              <!-- <div class="table"> -->
              <table>
                <tr>
                  <td>
                    • Developed a user-friendly web-app mimicking Whatsapp with a functioning Database using SQL in PostgresSQL
                  </td>
                  <td>
                    • Integrated RestApi using Python Flask for the communication of the WebApp and the database of the project.
                  </td>
                  <td>
                    • Accomplished completion of a full-stack web-app project within a timeline of 2 months with excellent results.
                  </td>
                </tr>
              </table>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span><i class="fas fa-angle-left" aria-hidden="true"></i></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span><i class="fas fa-angle-right" aria-hidden="true"></i></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
