<div>
  <div id="intro-box">
    <h1 id="name">
      Christian Santiago
    </h1>
    <h2>
      Aspiring Web Developer and Former Baby
    </h2>
    <p>
      I'm a computer engineering student currently looking for opportunities to expand my knowledge in
      <span id="emphasis"> Web Development and Design</span> and develop it in
      <span id="emphasis">Database Management</span> and
      <span id="emphasis">Data Analytics</span>.
    </p>
  </div>


  <div id="first-tab">
    <div id="experiences-title">
      Extracurricular Activities
    </div>
    <div id="box">
      <div id="experiences-info">
        Undergraduate Research – RUMarino
        <br> Software Development Division
        <br> February 2018 – Present
      </div>
    </div>
  </div>
</div>
