<div>
  <div id="intro-box" class="brackets">
    <h1 id="name">
      Christian Santiago
    </h1>
    <h2>
      Aspiring Web Developer and Former Baby
    </h2>
  </div>


  <div class="first-tab">
    <span class="tab-title">About Me</span>
    <p class="about-me-text">
      <br>
      <br> I'm a computer engineering student currently looking for opportunities to expand my knowledge in
      <span id="emphasis">Web Development and Design</span> and develop it in
      <span id="emphasis">Database Management</span> and
      <span id="emphasis">Data Analytics</span>.
    </p>
  </div>

  <div class="second-tab">
    <span class="tab-title">Projects</span>
    <table class="portfolio">
      <tr>
        <td>
            <div id="website-card" class="card">
                <img class="card-img-top" src="../../assets/e-resume.png" alt="Personal Website">
                <div class="card-body">
                  <p class="card-text">This is the first website I developed. It is the draft the one you are currently on.</p>
                  <div class="card-button">
                    <i href="https://csantiagoberio.github.io">Go to</i>
                  </div>
                </div>
              </div>
        </td>
        <td>
            <div id="flamboyan-card" class="card">
                <img class="card-img-top" src="../../assets/flamboyan-website.png" alt="Flamboyan Cafe">
                <div class="card-body">
                  <p class="card-text">Side project for a family bussiness (Work in progress)</p>
                  <div class="card-button">
                    <i href="">Not hosted</i>
                  </div>
                </div>
              </div>
        </td>
      </tr>
    </table>
  </div>
</div>
